@model string
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div> @Model world (from the view)</div>
    <div>
        We're going to have an exciting party.<br />
        (To do: sell it better. Add pictures or something.)
    </div>
    <div>
        <a asp-action="ProjForm">Projects Form Update</a>
    </div>
</body>
</html>